<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ダッシュボード</title>
  <link rel="stylesheet" href="css/dashboard.css">
</head>
<body>
  <!-- メインコンテンツ -->
  <div class="main-content">
    <!-- ヘッダー -->
    <header>
      <div class="header-info">
        <p>ユーザー名: </p>
      </div>
       <button id="logout">ログアウト</button>
    </header>

    <!-- ダッシュボード -->
    <section class="dashboard">
      <h2>メニュー</h2>
      <div class="cards">
        <a href="commuterpassdata" class="card">
          <h4>定期券代申請書一覧</h4>
          <p></p>
          </a>
        <a href="bicdata" class="card">
          <h4>定期券代申請書作成</h4>
          <p>申請書の入力はこちら</p>
         </a>
        <a href="routesearch" class="card" target="_blank">
          <h4>ルート検索</h4>
          <p>ルート検索画面はこちら</p>
        </a>
      </div>
    </section>
  </div>

  
</body>
</html>
