<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>自転車保険加入証明書</title>
	<link rel="stylesheet" href="css/cpaf.css">
	<link rel="stylesheet" href="js/DaD.js">
</head>

<body>
	<div class="container">
		<h1>自転車保険加入証明書</h1>

		<p>申請日<br><input type="text" placeholder="申請日" size="30"></p>
		<p>社員番号<br><input type="text" placeholder="社員番号" size="30"></p>
		<p>フリガナ<br><input type="text" placeholder="フリガナ" size="30"></p>
		<p>氏名<br><input type="text" placeholder="氏名" size="30"></p>
		<p>住所<br><input type="text" placeholder="住所" size="30"></p>

		<!-- ドラッグアンドドロップエリア -->
		<div id="drop-area" class="drop-area">
			ここにファイルをドラッグ＆ドロップ
		</div>
		<input type="file" id="fileInput" style="display: none;"></br>
		
		<div class="example">
		<input type="button" style="width:70px;height:30px;" value="戻る">
		<input type="button" style="width:70px;height:30px;" value="保存">
	</div>
	</div>
	</div>
</body>

</html>