<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>自転車通勤申請書</title>
	<link rel="stylesheet" href="css/cpaf.css">
</head>

<body>
	<div class="container">
		<h1>自転車通勤申請書</h1>
		<form>
			<label for="username">申請日</label>
			<input type="text" id="username" name="username">

			<label for="username">社員番号</label>
			<input type="text" id="username" name="username">

			<label for="username">氏名</label>
			<input type="text" id="username" name="username">

			<label for="username">氏名(カナ)</label>
			<input type="text" id="username" name="username">

			<label for="username">住所</label>
			<input type="text" id="username" name="username">

			<label for="username">所属</label>
			<input type="text" id="username" name="username">

			<label for="username">支給額計</label>
			<input type="text" id="username" name="username">
			
			<br>
			<br>
			
			<div class="example">
				<button type="submit">保存</button>
				<button type="button" onclick="location.href='mainmenu'">戻る</button>
			</div>
		</form>
	</div>
</body>

</html>