<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>定期券代申請書一覧</title>
	<link rel="stylesheet" href="css/crdata.css"> <!-- CSSファイルをリンク -->
</head>

<body>
	<h1>定期券代申請一覧</h1>
	<a href="bicdata">自転車申請一覧に切り替える</a>
	<table>
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">名前</th>
				<th scope="col">メールアドレス</th>
				<th scope="col">住居・身上確認書</th>
				<th scope="col">承認ルート選択</th>
				<th scope="col">定期券承認可否</th>
				<th scope="col">定期券代申請書</th>
				<th scope="col">更新日時</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>00001</td>
				<td>新入社員１</a></td>
				<td>sinnnyuusyain1@gmail.com</td>
				<td><a href="ricdata">登録済</td>
				<td><a href="approval">送信済</td>
				<td><a href="replycpy">〇</td>
				<td><a href="commuterpass">作成済</td>
				<td>2024/11/14 15:36</td>
			</tr>
			<tr>
				<td>00002</td>
				<td>新入社員２</a></td>
				<td>sinnnyuusyain2@gmail.com</td>
				<td><a href="ricdata">登録済</td>
				<td><a href="approval">送信済</td>
				<td><a href="replycpy">〇</td>
				<td><a href="commuterpass">作成済</td>
				<td>2024/11/14 15:36</td>
			</tr>
			<tr>
				<td>00003</td>
				<td>新入社員３</a></td>
				<td>sinnnyuusyain3@gmail.com</td>
				<td><a href="ricdata">登録済</td>
				<td><a href="approval">送信済</td>
				<td><a href="replycpy">〇</td>
				<td><a href="commuterpass">作成済</td>
				<td>2024/11/14 15:36</td>
			</tr>
			<tr>
				<td>00004</td>
				<td>新入社員４</a></td>
				<td>sinnnyuusyain4@gmail.com</td>
				<td><a href="ricdata">登録済</td>
				<td><a href="approval">送信済</td>
				<td><a href="replycpn">×</td>
				<td><a href="commuterpass">未作成</td>
				<td>2024/11/14 15:36</td>
			</tr>
		</tbody>
	</table>
</body>

</html>