<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>定期券代申請書</title>
	<link rel="stylesheet" href="css/cpaf.css">
</head>

<body>
	<div class="container">
		<h1>定期券代申請書</h1>
		<form>
			<label for="name">氏名</label>
			<input type="text" id="name" size="45">

			<label for="kana-name">氏名(カナ)</label>
			<input type="text" id="kana-name" size="45">

			<label for="address">住所</label>
			<input type="text" id="address" size="45">
			
			<h1>定期券詳細</h1>

			<label for="bicycle-distance">自転車使用距離</label>
			<input type="text" id="bicycle-distance" size="45">
			
			<label for="bicycle-amountpaid">支給額</label>
			<input type="text" id="bicycle-amountpaid" size="45">
			
			<label for="buss-term">バス使用期間</label>
			<input type="text" id="buss-term" size="45">
			
			<label for="buss-section">バス使用区間</label>
			<input type="text" id="buss-section" size="45">
			
			<label for="buss-amountpaid">支給額</label>
			<input type="text" id="buss-amountpaid" size="45">
			
			<label for="train-term">電車使用期間</label>
			<input type="text" id="train-term" size="45">
			
			<label for="train-section">電車使用期間</label>
			<input type="text" id="train-section" size="45">
			
			<label for="train-amountpaid">支給額</label>
			<input type="text" id="train-amountpaid" size="45">
			
			<label for="total-amountpaid">支給額計</label>
			<input type="text" id="total-amountpaid" size="45">
			
			<br>
			<br>
			
			<div class="example">
				<button type="submit">保存</button>
				<button type="button" onclick="location.href='replycpy'">戻る</button>
			</div>
		</form>
	</div>
</body>

</html>