<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>登録ページ</title>
<link rel="stylesheet" href="css/createidpass.css">
</head>
<body>
	<div class="container">
        
		<h2>管理者用ID・PASS変更</h2>
		<p class="label">ID<br><input type="text" placeholder="ID"></p>
        <p class="label">パスワード<br><input type="text" placeholder="パスワード"></p>
        <p class="label">パスワード(確認用)<br><input type="text" placeholder="パスワード(確認用)"></p>
		<button type="submit">保存</button><br>
		<br>
	</div>
</body>
</html>
</html>