<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>返信確認ページ</title>
	<link rel="stylesheet" href="css/crpage.css">
</head>

<body>
	<div class="container">
		<h1>返信確認ページ</h1>
		<form>
			<img src="img/経路一覧.png">
			
			<p id="approval-result-y">〇</p>
			<p>○○さんは1番で承認しました。</p>
			<p>定期券申請書を作成してください。</p>

			<div class="example">
				<button type="button" onclick="location.href='commuterpass'">定期券申請書に進む</button>
				<button type="button" onclick="location.href='commuterpassdata'">戻る</button>
			</div>
		</form>
	</div>
</body>

</html>